<div id="cont">
    <p style="font-weight: 900;"><span>Proceso IP-FC-03-2022</span></p>
    <p class="paragraf-left">Información SECOP I - Proceso IP-FC-03-2022
        <span class="der">
            <a href="https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=22-4-12995781&g-recaptcha-response=03AGdBq242fYOneCUVkJOIvKDGB4ga-T0B4NY0Jy8wn43-vMMe_aRjXE1ycjoqg3ldGkwsHbPZ4Ro-oUwOpr22KeadB1YQb1mayzkv7dnj-fp5F-FA_Uh__-rMFB3562S__0rmBkn8sSSvQ8qwONWxaB_FXyvl0CREETKDuaNDEL_u0yaLesyeS8ppFoKnXyWLpU-DLNT0AF_sML1wvCPWA9o8wHyuNTO_hcO6CdZYMhy57qEhf0YYvuy5pkVjL8tg9OJH0ZEqaJQV6lghryhDlNajry5y9eTyUX8xD49BGcCjs4a73dNQhFafPa7NmB2jcy6Flh46VBsliJoQP7B5oVf-s3ixAN7N5QzloZnQ96CWrC2Hzg0ik6tHSXehzn6G40L3abmx9M2E0a9r3CXz-KEudr2PUo41_okVJwe3uDm_C68gyGHiUIYQDZdAGTTNSynwQ4u09VH3KbRoVvTBCGJnEpcJZ7fmqQ" target="_blank" title="Ver información SECOP 1"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Documento Invitación Pública - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/doc-invitacion-publica.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p08/doc-invitacion-publica.pdf" download="doc-invitacion-publica.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Estudios Previos - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/est-previos.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p08/est-previos.pdf" download="est-previos.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Análisis del Sector - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/analisis-sector.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p08/analisis-sector.pdf" download="analisis-sector.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Disponibilidad Presupuestal No. SGR 322 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/disp-presupuestal.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p08/disp-presupuestal.pdf" download="disp-presupuestal.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">CDP Regalías - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/CDP_REGALIAS.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p08/CDP_REGALIAS.pdf" download="CDP_REGALIAS.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #1 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/formato1.docx" download="formato1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #2 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/formato2.doc" download="formato2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #3 Experiencia - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/formato3-exp.xls" download="formato3-exp.xls" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #4 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/formato4.doc" download="formato4.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #5 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/formato5.doc" download="formato5.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #6 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/formato6.doc" download="formato6.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #7 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/formato7.docx" download="formato7.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #8 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/formato8.doc" download="formato8.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #9 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/formato9.docx" download="formato9.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #1 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/anexo1.doc" download="anexo1.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #2 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/anexo2.doc" download="anexo2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #3 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/anexo3.pdf" download="anexo3.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formulario #1 - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/formulario1.docx" download="formulario1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Cronograma - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/cronograma.pdf" download="cronograma.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Adenda #1. Criterios de Desempate - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/1adenda1_criterios_desempate.pdf" download="1adenda1_criterios_desempate.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Adenda #2. Aclaración del punto (A) de las características de los contratos presentados para acreditar la experiencia exigida - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/2adenda2_aclaracion.pdf" download="2adenda2_aclaracion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Aviso Veedurías Ciudadanas - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/3aviso_veedurias_ciudadanas.pdf" download="3aviso_veedurias_ciudadanas.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Observaciones - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/4observaciones.pdf" download="4observaciones.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Cierre - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/acta_de_cierre.pdf" download="acta_de_cierre.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Informe de Evaluación - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/evaluacion.pdf" download="evaluacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Cierre Observaciones - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/acta_cierre_observaciones.pdf" download="acta_cierre_observaciones.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Evaluación Final - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/evaluacion_final.pdf" download="evaluacion_final.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Resolución de Adjudicación - Proceso IP-FC-03-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p08/resolucion_adjudicacion.pdf" download="resolucion_adjudicacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
</div>