<div id="cont">
    <p style="font-weight: 900;"><span>Proceso IP-FC-02-2021</span></p>
    <p class="paragraf-left">Información SECOP I - Proceso IP-FC-02-2021
        <span class="der">
            <a href="https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=21-4-12619460&g-recaptcha-response=03AGdBq24BVZc662sI_g9WaxwZ_gYqlUZwev8gzSwd0B3K0ZlxEBBJQ6DFsSH9DHcDndUwBQqm8n2JvH_s-a9_2ZAl0wdYhtuxYFuxcxFWvpkev7rV-Qnk4lnBzoWzcodcny4oOWE-ElOaw2-mra2lIsMKPqFcA38RlruOSZSVnpg1g7mydE0KYMbHsKTzBLxh_Spsei-kqxAvnL04pABSGzoQW66WzDYHkKylMcjW5GXd-NE_6T06wpHUAUtemrDn_fpzdc-66OCrxHH8BMtmzkeGeYIC7rXN_lstmDjGN5qtxaChYDND7gmtkKhItYUaTYArSfdsDkKxm20RbPcOQUUdSocYZKG9aFHOPJMPMNDqAMCCKh9KsUXJou1PFB8xbhcvMVnItM59spjrWs-VgGqN1gkU5TjwwZWo0_KJTk5oxMWyPJ7LgK6azqZV7qE3iMtaHuAnP_81Xywj4k1I5MHMGk89ids1NA" target="_blank" title="Ver información SECOP 1"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Documento Invitación Pública - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/doc-invitacion-publica.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p02/doc-invitacion-publica.pdf" download="doc-invitacion-publica.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Estudios Previos - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/est-previos.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p02/est-previos.pdf" download="est-previos.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Disponibilidad Presupuestal No. 00 0060 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/disp-presupuestal.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p02/disp-presupuestal.pdf" download="disp-presupuestal.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #1 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/formato1.docx" download="formato1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #2 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/formato2.doc" download="formato2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #3 Experiencia - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/formato3-exp.xls" download="formato3-exp.xls" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #4 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/formato4.doc" download="formato4.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #5 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/formato5.doc" download="formato5.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #6 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/formato6.doc" download="formato6.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #7 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/formato7.docx" download="formato7.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #8 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/formato8.doc" download="formato8.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #9 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/formato9.docx" download="formato9.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #1 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/anexo1.doc" download="anexo1.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #2 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/anexo2.doc" download="anexo2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #3 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/anexo3.pdf" download="anexo3.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formulario #1 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p02/formulario1.docx" download="formulario1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
</div>