<div id="cont">
    <p style="font-weight: 900;"><span>Proceso IP-FC-04-2022</span></p>
    <p class="paragraf-left">Información SECOP I - Proceso IP-FC-04-2022
        <span class="der">
            <a href="https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=22-4-13009723&g-recaptcha-response=03AGdBq25JO3rSfb8GjUPRpMny-0P3XMg3UaZCMnmp7WBaqUIkfCPZ-9rQ6QGYTngi-hka43ktPY2gLJkUjphMzx4Q3fymNJQwCLLbsc-uOQuGresPqy87wgJtB8iYI2KpNmryMJ8ca2z35hshz0PUAxJJP8Zs2ebBltadfwJZEhdJP4pKYp8FKSciOvzWWpy1_YDbAqawqyYnPI31d5C6rzdOV1IfknjD8YiKD-akbYPSdparcwErnibsOhmFDThjIkrStWbooh5UzI-ai3EjVt0QMzz1V0cVV9hqETRvmTcgtj9OmrDJA_D3PGH9i0qSxkoVbjCKTaOqbQnBvqePcoq6ynj4dPoucbP2xrFXT98YDKYNUj1rMsU7lcYSx5GNDeyNfYX3kIqEZAJxSfLAUr0d5DNOgvIDbEXvmKR-H7_oY_OUgqz__cz8iljqNa1T3gLlOTMgY_JV81yNrLAZ-FqyFbdQ4rvI7Q" target="_blank" title="Ver información SECOP 1"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Documento Invitación Pública - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/doc-invitacion-publica.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p09/doc-invitacion-publica.pdf" download="doc-invitacion-publica.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Estudios Previos - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/est-previos.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p09/est-previos.pdf" download="est-previos.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Análisis del Sector - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/analisis-sector.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p09/analisis-sector.pdf" download="analisis-sector.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <!--<p class="paragraf-left">Disponibilidad Presupuestal No. SGR 322 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/disp-presupuestal.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p09/disp-presupuestal.pdf" download="disp-presupuestal.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>-->
    <p class="paragraf-left">CDP Regalías - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/CDP_REGALIAS.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p09/CDP_REGALIAS.pdf" download="CDP_REGALIAS.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #1 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/formato1.docx" download="formato1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #2 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/formato2.doc" download="formato2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #3 Experiencia - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/formato3-exp.xls" download="formato3-exp.xls" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #4 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/formato4.doc" download="formato4.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #5 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/formato5.doc" download="formato5.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #6 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/formato6.doc" download="formato6.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #7 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/formato7.docx" download="formato7.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #8 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/formato8.doc" download="formato8.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #9 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/formato9.docx" download="formato9.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #1 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/anexo1.doc" download="anexo1.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #2 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/anexo2.doc" download="anexo2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #3 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/anexo3.pdf" download="anexo3.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formulario #1 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/formulario1.docx" download="formulario1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Cronograma - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/cronograma.pdf" download="cronograma.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Aviso Veedurías Ciudadanas - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/3aviso_veedurias_ciudadanas.pdf" download="3aviso_veedurias_ciudadanas.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Adenda #1 - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/adenda_1.pdf" download="adenda_1.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Observaciones Amparos Garantías del Contrato - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/observacion_respuesta.pdf" download="observacion_respuesta.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Cierre - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/acta_cierre.pdf" download="acta_cierre.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Informe de Evaluación - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/evaluacion.pdf" download="evaluacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Respuestas a Observaciones - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/respuesta_observaciones.pdf" download="respuesta_observaciones.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Cierre Observaciones - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/acta_cierre_observaciones.pdf" download="acta_cierre_observaciones.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Evaluación Final - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/evaluacion_final.pdf" download="evaluacion_final.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Resolución de Adjudicación - Proceso IP-FC-04-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p09/resolucion_adjudicacion.pdf" download="resolucion_adjudicacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
</div>