<div id="menu-wrap" class="menu-back cbp-af-header cbp-af-header-shrink">
    <div class="container">
        <div class="seventeen columns">
            <div class="logo"></div>
            <ul class="slimmenu">
                <li>
                    <a class="scroll" routerLink="inicio">inicio</a>
                </li>
                <li>
                    <a>quienes somos</a>
                    <ul>
                        <li>
                            <a routerLink="nosotros">nosotros</a>
                        </li>
                        <li>
                            <a routerLink="funciones">funciones</a>
                        </li>
                        <li>
                            <a routerLink="organigrama">organigrama</a>
                        </li>
                        <li>
                            <a routerLink="servicios">líneas de servicio</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="scroll" routerLink="transparencia">transparencia y acceso a la información</a>
                </li>
                <li>
                    <a class="scroll" routerLink="atencion-ciudadano">atención al ciudadano</a>
                </li>
                <li>
                    <a class="scroll" routerLink="contacto">contacto</a>
                </li>
            </ul>
        </div>
    </div>
</div>