<div id="about">
    <div class="container">
        <div class="sixteen columns">
            <div class="top-text">
                <h2 class="titulo-normal">Transparencia y acceso a la información</h2>
                <div class="subline"></div>
            </div>
        </div>
        <div class="four columns">
            <div class="sidebar">
                <h6 class="titulo-normal">Categorias</h6>
                <div class="categories">
                    <a id="gcont">CONTRATACIÓN</a>
                </div>
                <div class="categories">
                    <a id="gcon">CONTROL</a>
                </div>
                <div class="categories">
                    <a id="gesc">ESTRUCTURA ORGÁNICA Y TELENTO HUMANO</a>
                </div>
                <div class="categories">
                    <a id="ginf">INFORMACIÓN DE INTERÉS</a>
                </div>
                <div class="categories">
                    <a id="gins">INSTRUMENTOS DE GESTIÓN DE INFORMACIÓN PUBLICA</a>
                </div>
                <div class="categories">
                    <a id="gnor">NORMATIVIDAD</a>
                </div>
                <div class="categories">
                    <a id="gplan">PLANEACIÓN</a>
                </div>
                <div class="categories">
                    <a id="gpres">PRESUPUESTO</a>
                </div>
                <div class="categories">
                    <a id="gser">SERVICIOS</a>
                </div>
            </div>
        </div>
        <div class="twelve columns">
            <div class="blog-post">
                <div id="cont">
                    <p><span>CONTRATACIÓN</span></p>
                </div>
                <div id="con">
                    <p><span>CONTROL</span></p>
                </div>
                <div id="esc">
                    <p><span>ESTRUCTURA ORGÁNICA Y TALENTO HUMANO</span></p>
                    <p class="paragraf-left">Mapa de procesos
                        <span class="der">
                            <a href="./assets/images/procesos.jpg" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
                            <a href="./assets/images/procesos.jpg" download="procesos.jpg" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
                        </span>
                    </p>
                </div>
                <div id="inf">
                    <p><span>INFORMACIÓN DE INTERÉS</span></p>
                </div>
                <div id="ins">
                    <p><span>INSTRUMENTOS DE GESTIÓN DE INFORMACIÓN PUBLICA</span></p>
                </div>
                <div id="nor">
                    <p><span>NORMATIVIDAD</span></p>
                    <p class="paragraf-left">Ordenanza de creacion
                        <span class="der">
                            <a href="./assets/docs/ordenanzacreacionempresa.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
                            <a href="./assets/docs/ordenanzacreacionempresa.pdf" download="ordenanzacreacionempresa.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
                        </span>
                    </p>
                    <p class="paragraf-left">Resolucion numero 001
                        <span class="der">
                            <a href="./assets/docs/resolucion001.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
                            <a href="./assets/docs/resolucion001.pdf" download="resolucion001.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
                        </span>
                    </p>
                </div>
                <div id="plan">
                    <p><span>PLANEACIÓN</span></p>
                </div>
                <div id="pres">
                    <p><span>PRESUPUESTO</span></p>
                    <p class="paragraf-left">Balance inicial
                        <span class="der">
                            <a href="./assets/docs/balanceinicial.pdf" target="_blank"  title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
                            <a href="./assets/docs/balanceinicial.pdf" download="balanceinicial.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
                        </span>
                    </p>
                </div>
                <div id="ser">
                    <p><span>SERVICIOS</span></p>
                </div>
            </div>
        </div>
        <div class="sixteen columns">
            <div class="line-separator"></div>
        </div>
        <div class="sixteen columns">
            <div class="top-text">
                <h2 class="titulo-normal">Politicas, planes, manuales e informes publicados</h2>
                <div class="subline"></div>
            </div>
        </div>
        <div class="four columns">
            <div class="sidebar">
                <h6 class="titulo-normal">Categorias</h6>
                <div class="categories">
                    <a id="gpol">POLITICAS</a>
                </div>
                <div class="categories">
                    <a id="gplanes">PLANES</a>
                </div>
                <div class="categories">
                    <a id="gman">MANUALES</a>
                </div>
                <div class="categories">
                    <a id="ggest">INFORMES DE GESTIÓN</a>
                </div>
            </div>
        </div>
        <div class="twelve columns">
            <div class="blog-post">
                <div id="pol">
                    <p><span>POLITICAS</span></p>
                </div>
                <div id="planes">
                    <p><span>PLANES</span></p>
                </div>
                <div id="man">
                    <p><span>MANUALES</span></p>
                </div>
                <div id="gest">
                    <p><span>INFORMES DE GESTIÓN</span></p>
                </div>
            </div>
        </div>
    </div>
</div>