a {
    cursor: pointer;
}

i {
    color: rgb(241 43 80);
}

#about {
    margin-top: 40px;
}

.blog-post {
    border-top: 3px solid rgb(241 43 80);
}

.paragraf-left {
    border-left: 3px solid rgb(241 43 80);
}

.der {
    float: right;
}