<div id="about">
    <div class="container">
        <div class="sixteen columns">
            <div class="top-text">
                <h2>TRANSPARENCIA Y ACCESO A LA INFORMACIÓN</h2>
                <div class="subline"></div>
            </div>
        </div>
        <div class="four columns">
            <div class="sidebar">
                <h6>Categorias</h6>
                <div class="categories">
                    <a id="gcont">CONTRATACIÓN</a>
                </div>
                <div class="categories">
                    <a id="gcon">CONTROL</a>
                </div>
                <div class="categories">
                    <a id="gesc">ESTRUCTURA ORGÁNICA Y TELENTO HUMANO</a>
                </div>
                <div class="categories">
                    <a id="ginf">INFORMACIÓN DE INTERÉS</a>
                </div>
                <div class="categories">
                    <a id="gins">INSTRUMENTOS DE GESTIÓN DE INFORMACIÓN PUBLICA</a>
                </div>
                <div class="categories">
                    <a id="gnor">NORMATIVIDAD</a>
                </div>
                <div class="categories">
                    <a id="gplan">PLANEACIÓN</a>
                </div>
                <div class="categories">
                    <a id="gpres">PRESUPUESTO</a>
                </div>
                <div class="categories">
                    <a id="gser">SERVICIOS</a>
                </div>
            </div>
        </div>
        <div class="twelve columns">
            <div class="blog-post">
                <div id="cont">
                    <p><span>CONTRATACIÓN</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="con">
                    <p><span>CONTROL</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="esc">
                    <p><span>ESTRUCTURA ORGÁNICA Y TALENTO HUMANO</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="inf">
                    <p><span>INFORMACIÓN DE INTERÉS</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="ins">
                    <p><span>INSTRUMENTOS DE GESTIÓN DE INFORMACIÓN PUBLICA</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="nor">
                    <p><span>NORMATIVIDAD</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="plan">
                    <p><span>PLANEACIÓN</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="pres">
                    <p><span>PRESUPUESTO</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="ser">
                    <p><span>SERVICIOS</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
            </div>
        </div>
        <div class="sixteen columns">
            <div class="line-separator"></div>
        </div>
        <div class="sixteen columns">
            <div class="top-text">
                <h2>POLITICAS, PLANES, MANUALES E INFORMES PUBLICADOS</h2>
                <div class="subline"></div>
            </div>
        </div>
        <div class="four columns">
            <div class="sidebar">
                <h6>Categorias</h6>
                <div class="categories">
                    <a id="gpol">POLITICAS</a>
                </div>
                <div class="categories">
                    <a id="gplanes">PLANES</a>
                </div>
                <div class="categories">
                    <a id="gman">MANUALES</a>
                </div>
                <div class="categories">
                    <a id="ggest">INFORMES DE GESTIÓN</a>
                </div>
            </div>
        </div>
        <div class="twelve columns">
            <div class="blog-post">
                <div id="pol">
                    <p><span>December 17, 2013</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="planes">
                    <p><span>December 17, 2013</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="man">
                    <p><span>December 17, 2013</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
                <div id="gest">
                    <p><span>December 17, 2013</span></p>
                    <p>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac.</p>
                    <p class="paragraf-left">Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis
                        in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis
                        in, rhoncus ac.</p>
                    <p><strong class="caps">N</strong>ulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem
                        pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac. Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus
                        ac.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>