<div id="cont">
    <p style="font-weight: 900;"><span>Proceso IP-FC-01-2021</span></p>
    <p class="paragraf-left">Información SECOP I - Proceso IP-FC-01-2021
        <span class="der">
            <a href="https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=21-4-12616628&g-recaptcha-response=03AGdBq26D5sU866CcM6HnqtHNa-cK_22WZQSTnkDEc-Rhwf3wgt9PgjfgaJ-I3Yhdiufu3SCs2Y9RuQNiGeI5u_QswEW41p3mx7TswyzllABszVy8OjfWtPFiGhOLJZZ6DM2endV35k8ykij0rpk5Tm88h8Xk0VxBZ2B-EnGWir-EjXDShWj9t2drNhot_PIOM4Snya6P55wagaOrdTmmwaoqE-8leT53LPkyNx7hXOBZ4lgAEnlJ9DfTQN_31gw3DDdcpxg_4JQJ9v9-IPPJ67AGfRqDO9fJaBM3ScZc0LVenEyCpEg8EMu2nh78RlaB13E5MZRb-WHEymDn79iTc8YSYjoxxrqbQHjjXLok4NxmE7a4dTlgWrEvS8xRMNUAO-NNuNKJv6o-nFvBKWixrZ0wbgCM7WuYmhaERzDwE5044Sc4wZUppxEsaU6nbm_Y1oEUGt86oEzU92Su-8gUCwHW95R26OMvWQ" target="_blank" title="Ver información SECOP 1"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Documento Invitación Pública - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/v2DP_PROCESO_21_4_12616628_254001034_97760364.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p01/v2DP_PROCESO_21_4_12616628_254001034_97760364.pdf" download="DP_PROCESO_21-4-v2DP_PROCESO_21_4_12616628_254001034_97760364.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Cronograma - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/DP_PROCESO_21_4_12616628_254001034_97760366.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p01/DP_PROCESO_21_4_12616628_254001034_97760366.pdf" download="DP_PROCESO_21_4_12616628_254001034_97760366.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Estudios Previos - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/DP_PROCESO_21_4_12616628_254001034_97760372.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p01/DP_PROCESO_21_4_12616628_254001034_97760372.pdf" download="DP_PROCESO_21_4_12616628_254001034_97760372.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Disponibilidad Presupuestal No. 00 0064 - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/DISPONIBILIDAD PROYECTO ARBOLES - f (1).pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p01/DISPONIBILIDAD PROYECTO ARBOLES - f (1).pdf" download="DISPONIBILIDAD PROYECTO ARBOLES - f (1).pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #1 - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato1.docx" download="formato1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #1 Anexo - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato1-anexo.doc" download="formato1-anexo.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #2 - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato2.doc" download="formato2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #2 Anexo - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato2-anexo.doc" download="formato2-anexo.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #3 Experiencia - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato3-exp.xls" download="formato3-exp.xls" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #4 - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato4.doc" download="formato4.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #5 - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato5.doc" download="formato5.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #6 - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato6.doc" download="formato6.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #7 - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato7.doc" download="formato7.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #8 - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato8.doc" download="formato8.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #9 - Proceso IP-FC-01-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p01/formato9.docx" download="formato9.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
</div>