<div id="about">
    <div class="container">
        <div class="sixteen columns">
            <div class="top-text">
                <h2 class="titulo-normal">Quienes somos</h2>
                <div class="subline"></div>
            </div>
        </div>
        <div class="four columns">
            <div class="sidebar">
                <h6 class="titulo-normal">Categorias</h6>
                <div class="categories">
                    <a id="set1">¿Qué hacemos?</a>
                </div>
                <div class="categories">
                    <a id="set2">Reseña historica</a>
                </div>
                <div class="categories">
                    <a id="set3">Misión</a>
                </div>
                <div class="categories">
                    <a id="set4">Visión</a>
                </div>
                <div class="categories">
                    <a id="set5">Organigrama</a>
                </div>
                <div class="categories">
                    <a id="set6">Perfiles del personal</a>
                </div>
                <div class="categories">
                    <a id="set7">Funciones</a>
                </div>
                <div class="categories">
                    <a id="set8">Linea de servicios</a>
                </div>
            </div>
        </div>
        <div class="twelve columns">
            <div class="blog-post">
                <p>
                    E.I.C.E. FARO DEL CATATUMBO S.A.S. – Es una Empresa Industrial y Comercial del Estado descentralizada por servicios de orden departamental, con personería jurídica, patrimonio propio, autonomía administrativa, vinculada al despacho del Gobernador y constituida
                    por sociedad por acciones simplificada SAS, comprometida con el desarrollo socioeconómico de Norte de Santander.
                </p>
                <div id="1">
                    <p><span>¿Qué hacemos?</span></p>
                    <p>
                        Trabajamos en alianza con entidades públicas y/o privadas para ejecutar con agilidad, idoneidad profesional, transparencia, responsabilidad, compromiso, efectividad y calidad los recursos asociados a proyectos estratégicos de la región.
                    </p>
                    <p>
                        Siendo la primera empresa industrial y comercial del estado que se encargara de gestionar, promover e impulsar todas las actividades comerciales, industriales de servicios y consultoría relacionadas con el desarrollo de planes, programas y proyectos de
                        infraestructura, equipamiento social y comunitario, vivienda, desarrollo urbano, desarrollo territorial, gestión predial y gestión social entre otros, en el Departamento Norte de Santander, en cooperación, coordinación y concurrencia
                        con los municipios del departamento o sus entidades descentralizadas , mediante la ejecución de estrategias y acciones que promuevan y potencien la participación activa de los sectores público, privado y solidario en pro del desarrollo
                        y regional.
                    </p>
                </div>
                <div id="2">
                    <p><span>Reseña historica</span></p>
                    <p>
                        La Empresa Industrial y Comercial del Estado denominada la EICE FARO DEL CATATUMBO nace el 21 de diciembre de 2020, mediante ordenanza 0021 por iniciativa de la honorable Asamblea Departamental en uso de las facultades previstas numeral 7 del articulo
                        300 de la Constitución Política, en la ley 489 de 1998. La misma está vinculada al Despacho del Gobernador, dotada de personería jurídica, patrimonio propio y autonomía administrativa, la cual fue constituida como Sociedad de Acciones
                        Simplificadas (SAS), del orden departamental, de naturaleza industrial y comercial, que se rige conforme a la ley, por las reglas del derecho privado, en concordancia con la definición prevista por el articulo 85 de la ley 489
                        de 1998 para este tipo de empresas.
                    </p>
                    <p>
                        La EICE FARO DEL CATATUMBO desarrolla dentro de su objeto social gestionar, promover e impulsar todas las actividades comerciales, industriales, de servicios y consultoría relacionadas con el desarrollo de planes y programas y proyectos de infraestructura,
                        equipamiento social y comunitario, vivienda, desarrollo urbano, desarrollo territorial, gestión social y comunitario, gestión predial y gestión social entre otros, en el Departamento de Norte de Santander, en cooperación, en cooperación,
                        coordinación y concurrencia con los municipios del departamento o sus entidades descentralizadas, mediante la ejecución de estrategias y acciones que promuevan y potencien la participación activa de los sectores público, privado
                        y solidario en pro del desarrollo territorial y regional; por lo tanto, el reto para la E.I.C.E Faro del Catatumbo es consolidarse como empresa líder en su sector con amplia proyección regional.
                    </p>
                </div>
                <div id="3">
                    <p><span>Misión</span></p>
                    <p>
                        Gestionar, promover e impulsar todas las actividades comerciales, industriales, de servicios y consultoria relacionadas con el desarrollo de planes, programas y proyectos de infraestructura, equipamiento social y comunitario, vivienda, desarrollo urbano,
                        desarrollo territorial, gestión predial y gestión social entre otros, en el Departamento Norte de Santander, en cooperación, coordinación y concurrencia con los municipios del departamento o sus entidades descentralizadas, mediante
                        la ejecución de estrategias y acciones que promuevan y potencien la participación activa de los sectores público, privado y solidario en pro del desarrollo territorial y regional.
                    </p>
                </div>
                <div id="4">
                    <p><span>Visión</span></p>
                    <p>
                        La EICE FARO DEL CATATUMBO S.A.S, será para el año 2023, una empresa auto sostenible, líder y reconocida a nivel Departamental por promover e impulsar todas las actividades comerciales, industriales, de servicios y consultoria relacionadas con el desarrollo
                        de planes, programas y proyectos de infraestructura, equipamiento social y comunitario, vivienda, desarrollo urbano, desarrollo territorial, gestión predial y gestión social entre otros.
                    </p>
                </div>
                <div id="5">
                    <p><span>Organigrama</span></p>
                    <img style="width: 100%!important; padding: 20px;" src="./assets/images/organigrama.jpg" alt="organigrama">
                </div>
                <div id="6">
                    <p><span>Perfiles del personal</span></p>
                    <div class="flex">
                        <div class="flexsize">
                            <img src="./assets/images/team1.jpg" width="100%" height="auto" alt="fotoperfil" />
                        </div>
                        <div class="flexsize">
                            <p class="paragraf-left">
                                <span>VÍCTOR OLIVERIO PEÑA MALDONADO<br><small>GERENTE</small></span>
                            </p>
                            <p>Formación académica:</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>ARQUITECTO<br>UNIVERSIDAD NACIONAL DE COLOMBIA<br>Graduado</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>ESPECIALISTA EN DISEÑO DE INTERIORES<br>UNIVERSIDAD NACIONAL DE COLOMBIA<br>Graduado</p>
                        </div>
                    </div>
                    <p>Experiencia laboral:</p>
                    <div class="flex">
                        <div class="flexsize">
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Secretario Privado del Departamento<br>GOBERNACION NORTE DE SANTANDER</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Secretario de Infraestructura del Departamento<br>GOBERNACION NORTE DE SANTANDER</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Secretario de Planeación Departamental<br>GOBERNACION NORTE DE SANTANDER</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Gerente<br>CENTRAL DE TRANSPORTES</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Director<br>SISBEN</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Director (e) Planeación Municipal</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Alto Consejero para Planes, Programas y Proyectos Especiales</p>
                        </div>
                    </div>
                    <div class="line-separator"></div>
                    <div class="flex">
                        <div class="flexsize">
                            <img src="./assets/images/team1.jpg" width="100%" height="auto" alt="fotoperfil" />
                        </div>
                        <div class="flexsize">
                            <p class="paragraf-left">
                                <span>JOSE FELIX CRUZ CONTRERAS<br><small>SECRETARIO GENERAL</small></span>
                            </p>
                            <p>Formación académica:</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>profesional<br>ADMINISTRADOR DE EMPRESAS<br>UNIVERSIDAD FRANCISCO DE PAULA SANTANDER<br>Graduado</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>ESPECIALISTA EN GERENCIA SOCIAL<br>UNIVERSIDAD SIMÓN BOLÍVAR<br>Graduado</p>
                        </div>
                    </div>
                    <p>Experiencia laboral:</p>
                    <div class="flex">
                        <div class="flexsize">
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>GOBERNACIÓN DE NORTE DE SANTANDER</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>VEOLIA SA ESP</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>ALCALDÍA DE CUCUTA</p>
                        </div>
                    </div>
                    <div class="line-separator"></div>
                    <div class="flex">
                        <div class="flexsize">
                            <img src="./assets/images/team1.jpg" width="100%" height="auto" alt="fotoperfil" />
                        </div>
                        <div class="flexsize">
                            <p class="paragraf-left">
                                <span>LILIANA FUENTES MEDINA<br><small>DIRECTORA DE PLANEACIÓN, ESTRUCTURACIÓN Y EJECUCIÓN DE PROYECTOS</small></span>
                            </p>
                            <p>Formación académica:</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>INGENIERA CIVIL<br>UNIVERSIDAD ANTONIO NARIÑO<br>Graduado</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>profesional<br>ABOGADA<br>UNIVERSIDAD FRANCISCO DE PAULA SANTANDER<br>Graduado</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>INGENIERA CIVIL<br>UNIVERSIDAD ANTONIO NARIÑO<br>Graduado</p>
                        </div>
                    </div>
                    <p>Experiencia laboral:</p>
                    <div class="flex">
                        <div class="flexsize">
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Constructora de obras civiles en el sector público y privado.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Asesora de Territorial de vivienda Gratuita<br>Departamento de Prosperidad Social</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional de apoyo Banco de Proyectos<br>GOBERNACION NORTE DE SANTANDER</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Asesora de Regalías<br>GOBERNACION NORTE DE SANTANDER</p>
                        </div>
                    </div>
                    <div class="line-separator"></div>
                    <div class="flex">
                        <div class="flexsize">
                            <img src="./assets/images/team1.jpg" width="100%" height="auto" alt="fotoperfil" />
                        </div>
                        <div class="flexsize">
                            <p class="paragraf-left">
                                <span>SANDRA YAJAIRA BENITEZ JAIMES<br><small>ASESORA ADMINISTRATIVA Y FINANCIERA</small></span>
                            </p>
                            <p>Formación académica:</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>ADMINISTRADORA DE EMPRESAS<br>UNIVERSIDAD ANTONIO NARIÑO<br>Graduado</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>profesional<br>ESPECIALISTA EN GERENCIA DE PROYECTOS<br>UNIVERSIDAD UNIMINUTO<br>Graduado</p>
                        </div>
                    </div>
                    <p>Experiencia laboral:</p>
                    <div class="flex">
                        <div class="flexsize">
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Asesora Administrativa y Financiera<br>EICE FARO DEL CATATUMBO SAS</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Secretaria General<br>EMPRESA AP SYSTEMS</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Administradora General de Norte de Santander<br>Empresa Unión Temporal Universidades del Nororiente. Universidad de Pamplona y Francisco de Paula Santander 2017.</p>
                        </div>
                    </div>
                    <div class="line-separator"></div>
                    <div class="flex">
                        <div class="flexsize">
                            <img src="./assets/images/team1.jpg" width="100%" height="auto" alt="fotoperfil" />
                        </div>
                        <div class="flexsize">
                            <p class="paragraf-left">
                                <span>ENIDELA CASTILLA MOLINA<br><small>SECRETARIA DE GERENCIA</small></span>
                            </p>
                            <p>Formación académica:</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>profesional<br>TÉCNICO EN TRABAJO SOCIAL<br>Graduado</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>TÉCNICO LABORAL CONTABLE Y FINANCIERO<br>Graduado</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>ADMINISTRACIÓN PUBLICA<br>En curso</p>
                        </div>
                    </div>
                    <p>Experiencia laboral:</p>
                    <div class="flex">
                        <div class="flexsize">
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Promotora SIAU<br>IMSALUD</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Auxiliar Administrativo<br>GOBERNACION NORTE DE SANTANDER</p>
                        </div>
                    </div>
                    <div class="line-separator"></div>
                    <div class="flex">
                        <div class="flexsize">
                            <img src="./assets/images/team1.jpg" width="100%" height="auto" alt="fotoperfil" />
                        </div>
                        <div class="flexsize">
                            <p class="paragraf-left">
                                <span>CLAUDIA YAJAIRA GALVIS MENDOZA<br><small>PROFESIONAL AMBIENTAL Y/O SANITARIA</small></span>
                            </p>
                            <p>Formación académica:</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>ADMINISTRADOR AMBIENTAL Y DE LOS RECURSOS NATURALES<br>UNIVERSIDAD SANTO TOMÁS<br>Graduado</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>profesional<br>ESPECIALISTA EN DERECHO DEL MEDIO AMBIENTE<br>UNIVERSIDAD JORGE TADEO LOZANO<br>Graduado</p>
                        </div>
                    </div>
                    <p>Experiencia laboral:</p>
                    <div class="flex">
                        <div class="flexsize">
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Autoridad Sanitaria<br>IDS NORTE DE SANTANDER.</p>
                        </div>
                    </div>
                    <div class="line-separator"></div>
                    <div class="flex">
                        <div class="flexsize">
                            <img src="./assets/images/team1.jpg" width="100%" height="auto" alt="fotoperfil" />
                        </div>
                        <div class="flexsize">
                            <p class="paragraf-left">
                                <span>LUDY ZULAY ARDILA<br><small>ASESOR CONTABLE Y DE TESORERIA</small></span>
                            </p>
                            <p>Formación académica:</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Profesional<br>CONTADORA PÚBLICA<br>UNIVERSIDAD DE PAMPLONA<br>Graduado</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>profesional<br>TECNÓLOGA EN ADMINISTRACIÓN COMERCIAL Y DE SISTEMAS<br>UNIVERSIDAD DE PAMPLONA<br>Graduado</p>
                        </div>
                    </div>
                    <p>Experiencia laboral:</p>
                    <div class="flex">
                        <div class="flexsize">
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Directora de la Oficina de Pagaduría<br>UNIVERSIDAD DE PAMPLONA</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Directora Financiera<br>CONTRALORÍA GENERAL DEL DEPARTAMENTO</p>
                        </div>
                    </div>
                    <div class="line-separator"></div>
                </div>
                <div id="7">
                    <p><span>Funciones</span></p>
                    <p>
                        En la actualidad La EICE FARO DEL CATATUMBO S.A.S, es la única entidad que presta los servicios para Gestionar, promover e impulsar todas las actividades comerciales, industriales, de servicios y consultoria relacionadas con el desarrollo de planes, programas
                        y proyectos de infraestructura, equipamiento social y comunitario, vivienda, desarrollo urbano, desarrollo territorial, gestión predial y gestión social entre otros, en el Departamento Norte de Santander.
                    </p>
                    <p>
                        Contamos un equipo humano interdisciplinario, altamente calificado y entrenado, trabajamos para mejorar la calidad de vida de nuestros clientes, prestando el siguiente servicio:
                    </p>
                    <img style="width: 35%!important; margin-left: 32.5%" src="./assets/images/funcionimagen.png" alt="funciones">
                    <h6 style="padding: 0 20px; text-align: center;">Desarrollo de proyectos de infraestructura, equipamiento social y comunitario</h6>
                    <p>
                        La EICE FARO DEL CATATUMBO S.A.S desarrollará todas las acciones y actividades que directa o indirectamente estén relacionadas con su objeto y en particular las siguientes:
                    </p>
                    <div class="flex">
                        <div class="flexsize">
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Promover, estructurar, desarrollar, gerenciar, ejecutar y evaluar planes, programas y proyectos que contribuyan a generar crecimiento económico y social sostenible
                                en el territorio del departamento.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Realizar las gestiones necesarias para garantizar la viabilidad financiera de la empresa “EICE FARO DEL CATATUMBO S.A.S”., y la de los proyectos que administra
                                o ejecuta.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Prestar asesoría y asistencia técnica a entidades públicas y privadas en materias relacionadas con proyectos de desarrollo.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Identificar, establecer la factibilidad y estructurar técnica, financiera, social y legalmente; planes, programas y proyectos de infraestructura, equipamiento
                                social y comunitario.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Participar en el desarrollo de planes, programas y proyectos de infraestructura y equipamiento, aportando recursos técnicos y financieros, reembolsables o no reembolsables.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Gerenciar directa o indirectamente el desarrollo de los proyectos relacionados con el objeto social.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Celebrar contratos y convenios con entidades públicas, privadas o de otra índole, con el fin de adelantar la estructuración, promoción y ejecución de proyectos
                                de infraestructura, equipamiento social y comunitario.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Emitir o garantizar la emisión de títulos que tengan como objeto reconocer el valor de salarios, materiales de construcción, terrenos, equipos y todos los demás
                                costos necesarios para la ejecución de proyectos que desarrolle en virtud de su objeto.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Emitir o garantizar la emisión de todo tipo de bonos, títulos valores, pagarés y demás instrumentos financieros que sean necesarios para la obtención de fondos
                                con destino a ejecución de proyectos.
                            </p>
                        </div>
                        <div class="flexsize">
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Solicitar y obtener créditos y recursos de cooperación, de entidades públicas y privadas, nacionales e internacionales, con el fin de desarrollar el objeto social
                                de la empresa.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Administrar recursos de terceros, bien sea de personas naturales o jurídicas, privadas o públicas, con destino a la promoción, fomento, financiación o construcción
                                de los proyectos relacionados con su objeto social.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Celebrar todos los convenios o contratos necesarios para el cumplimiento del objeto social y de las funciones de la empresa y en general celebrar o ejecutar los
                                actos complementarios o accesorios a los anteriores.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Participar en cualquier tipo de sociedades o asociaciones, consorcio o unión temporal, hacer parte, adquirir cuotas o partes de interés, según el caso, siempre
                                y cuando su objetivo social esté directa o indirectamente relacionado con el de la “EMPRESA
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Adquirir o enajenar títulos, derechos reales de bienes inmuebles necesarios para el cumplimiento de su objeto social.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Decretar la expropiación de inmuebles, conforme con lo establecido en las disposiciones legales y vigentes.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Recibir, administrar y habilitar cuando hubiere lugar a ello, inmuebles fiscales de la nación, del departamento y de los municipios o de sus entidades descentralizadas,
                                que puedan ser destinados al desarrollo del objeto social.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Prestar servicios de asesorías en el área de su objeto y cobrar por los mismos.
                            </p>
                            <p>
                                <i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Las demás que le sean asignadas por la Junta Directiva, de conformidad con las disposiciones legales, los estatutos y el objeto social de la empresa.
                            </p>
                        </div>
                    </div>
                    <p>
                        Mantenemos una actitud proactiva frente al manejo de la calidad, gestionamos nuestros procesos Gerenciales, Operacionales y de Apoyo bajo principios de igualdad, moralidad, eficacia, economía e imparcialidad.
                    </p>
                    <p>
                        Desarrollamos actividades de auditoría y control interno orientados a evaluar el cumplimiento global de la organización, además de permitir una retroalimentación eficaz que nos permitan tomar acciones de mejoramiento continuo.
                    </p>
                    <p>
                        Las principales características de nuestro servicio son:
                    </p>
                    <img style="width: 100%!important;" src="./assets/images/servicios2.jpg" alt="funciones2">
                    <p>
                        Nuestro principal objetivo: aumentar la satisfacción de nuestros clientes, enmarcado en nuestra cultura de mejoramiento continuo.
                    </p>
                </div>
                <div id="8">
                    <p><span>Linea de servicios</span></p>
                    <div class="flex">
                        <div class="flexsize">
                            <p class="paragraf-left">Gerencia de proyectos</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Revisión y ajuste de los proyectos.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Supervisión y seguimiento de la ejecución de contratos y proyectos.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Acompañamiento técnico a proyectos.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Control y manejo de inversiones de recursos para proyectos.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Elaboración de reglas de participación y lineamientos contractuales. </p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Realización de procesos de selección de oferentes.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>valuación jurídica, financiera, técnica y económica de ofertas.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Selección y aceptación de ofertas.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Celebración de contratos y/o convenios.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Tramite de desembolsos.</p>
                        </div>
                        <div class="flexsize">
                            <p class="paragraf-left">Gestión de proyectos</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Evaluación y diagnóstico de los aspectos financieros, administrativos y legales requeridos.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Análisis, diseño y determinación de esquemas y procedimientos de ejecución.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Apoyo administrativo, financiero y operativo.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Preparación, coordinación y ejecución de estrategias, procedimientos y cronogramas del proyecto.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Apoyo logístico al cliente en la implementación de las actividades contractuales.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Celebración de los acuerdos contractuales.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Gestión financiera de los recursos que el cliente destine para la ejecución del proyecto.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Implementación de esquemas de seguimiento y control de todas las actividades.</p>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flexsize">
                            <p class="paragraf-left">Estructuración de proyectos</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Asesoría financiera integral.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Estructuración financiera de proyectos.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Estructuración integral de proyectos.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Estudios de prefactibilidad y factibilidad.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Diseño de instrumentos financieros adecuados a cada proyecto.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Diseño de estrategias para la consecución de recursos financieros para empresas y proyectos.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Determinación de las condiciones de viabilidad de los proyectos.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Estructuración de empresas regionales de servicios.</p>
                        </div>
                        <div class="flexsize">
                            <p class="paragraf-left">Evaluación de proyectos</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Apoyo en la definición de criterios y metodología para la evaluación eficiente de proyectos.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Diseño de esquemas para la optimización de la asignación de recursos disponibles.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Evaluación de proyectos siguiendo los criterios y metodologías definidas.</p>
                            <p><i class="icon-blog" style="margin-right: 5px;">&#xf138;</i>Acompañamiento en la asesoría, seguimiento, acompañamiento, capacitación, formulación y avaluación en iniciativas de emprendimiento empresarial.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>