<div id="about">
    <div class="container">
        <div class="sixteen columns">
            <div class="top-text">
                <h2>QUIENES SOMOS</h2>
                <div class="subline"></div>
            </div>
        </div>
        <div class="sixteen columns">
            <p style="font-weight: 600; text-align: justify;">
                E.I.C.E. FARO DEL CATATUMBO S.A.S. – Es una Empresa Industrial y Comercial del Estado descentralizada por servicios de orden departamental, con personería jurídica, patrimonio propio, autonomía administrativa, vinculada al despacho del Gobernador y constituida
                por sociedad por acciones simplificada SAS, comprometida con el desarrollo socioeconómico de Norte de Santander.
            </p>
        </div>
        <br>
        <div class="seven columns">
            <img src="./assets/images/servicios-2.jpg" alt="Servicios" width="100%" />
        </div>
        <div class="nine columns">
            <h5>¿QUÉ HACEMOS?</h5>
            <p style="font-weight: 600; text-align: justify;">
                Trabajamos en alianza con entidades públicas y/o privadas para ejecutar con agilidad, idoneidad profesional, transparencia, responsabilidad, compromiso, efectividad y calidad los recursos asociados a proyectos estratégicos de la región.
            </p>
            <p style="font-weight: 600; text-align: justify;">
                Siendo la primera empresa industrial y comercial del estado que se encargara de gestionar, promover e impulsar todas las actividades comerciales, industriales de servicios y consultoría relacionadas con el desarrollo de planes, programas y proyectos de
                infraestructura, equipamiento social y comunitario, vivienda, desarrollo urbano, desarrollo territorial, gestión predial y gestión social entre otros, en el Departamento Norte de Santander, en cooperación, coordinación y concurrencia con
                los municipios del departamento o sus entidades descentralizadas , mediante la ejecución de estrategias y acciones que promuevan y potencien la participación activa de los sectores público, privado y solidario en pro del desarrollo y regional.
            </p>
        </div>
        <div class="sixteen columns">
            <h5>RESEÑA HISTORICA.</h5>
            <p style="font-weight: 600; text-align: justify;">
                La Empresa Industrial y Comercial del Estado denominada E.I.C.E Faro del Catatumbo nace el 21 de diciembre de 2020, mediante ordenanza 0021 por iniciativa de la honorable Asamblea Departamental en uso de las facultades previstas numeral 7 del articulo
                300 de la Constitución Política, en la ley 489 de 1998. La misma está vinculada al Despacho del Gobernador, dotada de personería jurídica, patrimonio propio y autonomía administrativa, la cual fue constituida como Sociedad de Acciones
                Simplificadas (SAS), del orden departamental, de naturaleza industrial y comercial, que se rige conforme a la ley, por las reglas del derecho privado, en concordancia con la definición prevista por el articulo 85 de la ley 489 de 1998
                para este tipo de empresas.
            </p>
            <br>
            <p style="font-weight: 600; text-align: justify;">
                La E.I.C.E Faro del Catatumbo desarrolla dentro de su objeto social gestionar, promover e impulsar todas las actividades comerciales, industriales, de servicios y consultoría relacionadas con el desarrollo de planes y programas y proyectos de infraestructura,
                equipamiento social y comunitario, vivienda, desarrollo urbano, desarrollo territorial, gestión social y comunitario, gestión predial y gestión social entre otros, en el Departamento de Norte de Santander, en cooperación, en cooperación,
                coordinación y concurrencia con los municipios del departamento o sus entidades descentralizadas, mediante la ejecución de estrategias y acciones que promuevan y potencien la participación activa de los sectores público, privado y solidario
                en pro del desarrollo territorial y regional; por lo tanto, el reto para la E.I.C.E Faro del Catatumbo es consolidarse como empresa líder en su sector con amplia proyección regional.
            </p>
        </div>
        <div class="sixteen columns">
            <div class="line-separator"></div>
        </div>
        <div class="two-thirds column">
            <h5 style="text-align: center;">MISIÓN</h5>
            <p style="font-weight: 600; text-align: justify">
                Gestionar, promover e impulsar todas las actividades comerciales, industriales, de servicios y consultoria relacionadas con el desarrollo de planes, programas y proyectos de infraestructura, equipamiento social y comunitario, vivienda, desarrollo urbano,
                desarrollo territorial, gestión predial y gestión social entre otros, en el Departamento Norte de Santander, en cooperación, coordinación y concurrencia con los municipios del departamento o sus entidades descentralizadas, mediante la
                ejecución de estrategias y acciones que promuevan y potencien la participación activa de los sectores público, privado y solidario en pro del desarrollo territorial y regional.
            </p>
        </div>
        <div class="two-thirds column">
            <h5 style="text-align: center;">VISIÓN</h5>
            <p style="font-weight: 600; text-align: justify">
                <b>La EICE FARO DEL CATATUMBO S.A.S</b>, será para el año 2023, una empresa auto sostenible, líder y reconocida a nivel Departamental por promover e impulsar todas las actividades comerciales, industriales, de servicios y consultoria relacionadas
                con el desarrollo de planes, programas y proyectos de infraestructura, equipamiento social y comunitario, vivienda, desarrollo urbano, desarrollo territorial, gestión predial y gestión social entre otros.
            </p>
        </div>
        <div class="sixteen columns">
            <div class="line-separator"></div>
        </div>
        <div class="sixteen column">
            <h5 style="text-align: center;">ORGANIGRAMA</h5>
            <br>
            <img style="width: 100%; padding: 0px 40px;" src="./assets/images/organigrama.jpg">
        </div>
    </div>
</div>