<div id="about">
    <div class="container">
        <div class="sixteen columns">
            <div class="top-text">
                <h2>FUNCIONES E.I.C.E. FARO DEL CATATUMBO S.A.S.</h2>
                <div class="subline"></div>
            </div>
        </div>
        <div class="sixteen columns" data-scrollreveal="enter bottom and move 50px over 1s">
            <p>
                Promover, estructurar, desarrollar, gerenciar, ejecutar y evaluar planes, programas y proyectos que contribuyan a generar crecimiento económico y social sostenible en el territorio del departamento.
            </p>
            <p>
                Realizar las gestiones necesarias para garantizar la viabilidad financiera de la empresa “EICE FARO DEL CATATUMBO S.A.S”., y la de los proyectos que administra o ejecuta.
            </p>
            <p>
                Prestar asesoría y asistencia técnica a entidades públicas y privadas en materias relacionadas con proyectos de desarrollo.
            </p>
            <p>
                Identificar, establecer la factibilidad y estructurar técnica, financiera, social y legalmente; planes, programas y proyectos de infraestructura, equipamiento social y comunitario.
            </p>
            <p>
                Participar en el desarrollo de planes, programas y proyectos de infraestructura y equipamiento, aportando recursos técnicos y financieros, reembolsables o no reembolsables.
            </p>
            <p>
                Gerenciar directa o indirectamente el desarrollo de los proyectos relacionados con el objeto social.
            </p>
            <p>
                Celebrar contratos y convenios con entidades públicas, privadas o de otra índole, con el fin de adelantar la estructuración, promoción y ejecución de proyectos de infraestructura, equipamiento social y comunitario.
            </p>
            <p>
                Emitir o garantizar la emisión de títulos que tengan como objeto reconocer el valor de salarios, materiales de construcción, terrenos, equipos y todos los demás costos necesarios para la ejecución de proyectos que desarrolle en virtud de su objeto.
            </p>
            <p>
                Emitir o garantizar la emisión de todo tipo de bonos, títulos valores, pagarés y demás instrumentos financieros que sean necesarios para la obtención de fondos con destino a ejecución de proyectos.
            </p>
            <p>
                Solicitar y obtener créditos y recursos de cooperación, de entidades públicas y privadas, nacionales e internacionales, con el fin de desarrollar el objeto social de la empresa.
            </p>
            <p>
                Administrar recursos de terceros, bien sea de personas naturales o jurídicas, privadas o públicas, con destino a la promoción, fomento, financiación o construcción de los proyectos relacionados con su objeto social.
            </p>
            <p>
                Celebrar todos los convenios o contratos necesarios para el cumplimiento del objeto social y de las funciones de la empresa y en general celebrar o ejecutar los actos complementarios o accesorios a los anteriores.
            </p>
            <p>
                Participar en cualquier tipo de sociedades o asociaciones, consorcio o unión temporal, hacer parte, adquirir cuotas o partes de interés, según el caso, siempre y cuando su objetivo social esté directa o indirectamente relacionado con el de la “EMPRESA
            </p>
            <p>
                Adquirir o enajenar títulos, derechos reales de bienes inmuebles necesarios para el cumplimiento de su objeto social.
            </p>
            <p>
                Decretar la expropiación de inmuebles, conforme con lo establecido en las disposiciones legales y vigentes.
            </p>
            <p>
                Recibir, administrar y habilitar cuando hubiere lugar a ello, inmuebles fiscales de la nación, del departamento y de los municipios o de sus entidades descentralizadas, que puedan ser destinados al desarrollo del objeto social.
            </p>
            <p>
                Prestar servicios de asesorías en el área de su objeto y cobrar por los mismos.
            </p>
            <p>
                Las demás que le sean asignadas por la Junta Directiva, de conformidad con las disposiciones legales, los estatutos y el objeto social de la empresa.
            </p>
        </div>
    </div>
</div>