<div id="about">
    <div class="container">
        <div class="sixteen columns">
            <div class="top-text">
                <h2>FUNCIONES E.I.C.E. FARO DEL CATATUMBO S.A.S.</h2>
                <div class="subline"></div>
            </div>
        </div>
        <div class="sixteen columns">
            <img src="./assets/images/servicios.png" alt="Servicios" />
        </div>
        <div class="eight columns">
            <h5>-GERENCIA DE PROYECTOS</h5>
            <p>- Revisión y ajuste de los proyectos.</p>
            <p>- Supervisión y seguimiento de la ejecución de contratos y proyectos.</p>
            <p>- Acompañamiento técnico a proyectos.</p>
            <p>- Control y manejo de inversiones de recursos para proyectos.</p>
            <p>- Elaboración de reglas de participación y lineamientos contractuales. </p>
            <p>- Realización de procesos de selección de oferentes.</p>
            <p>- valuación jurídica, financiera, técnica y económica de ofertas.</p>
            <p>- Selección y aceptación de ofertas.</p>
            <p>- Celebración de contratos y/o convenios.</p>
            <p>- Tramite de desembolsos.</p>
        </div>
        <div class="eight columns">
            <h5>GESTIÓN DE PROYECTOS</h5>
            <p>- Evaluación y diagnóstico de los aspectos financieros, administrativos y legales requeridos.</p>
            <p>- Análisis, diseño y determinación de esquemas y procedimientos de ejecución.</p>
            <p>- Apoyo administrativo, financiero y operativo.</p>
            <p>- Preparación, coordinación y ejecución de estrategias, procedimientos y cronogramas del proyecto.</p>
            <p>- Apoyo logístico al cliente en la implementación de las actividades contractuales.</p>
            <p>- Celebración de los acuerdos contractuales.</p>
            <p>- Gestión financiera de los recursos que el cliente destine para la ejecución del proyecto.</p>
            <p>- Implementación de esquemas de seguimiento y control de todas las actividades.</p>
        </div>
        <div class="eight columns">
            <h5>ESTRUCTURACIÓN DE PROYECTOS</h5>
            <p>- Asesoría financiera integral.</p>
            <p>- Estructuración financiera de proyectos.</p>
            <p>- Estructuración integral de proyectos.</p>
            <p>- Estudios de prefactibilidad y factibilidad.</p>
            <p>- Diseño de instrumentos financieros adecuados a cada proyecto.</p>
            <p>- Diseño de estrategias para la consecución de recursos financieros para empresas y proyectos.</p>
            <p>- Determinación de las condiciones de viabilidad de los proyectos.</p>
            <p>- Estructuración de empresas regionales de servicios.</p>
        </div>
        <div class="eight columns">
            <h5>EVALUACIÓN DE PROYECTOS</h5>
            <p>- Apoyo en la definición de criterios y metodología para la evaluación eficiente de proyectos.</p>
            <p>- Diseño de esquemas para la optimización de la asignación de recursos disponibles.</p>
            <p>- Evaluación de proyectos siguiendo los criterios y metodologías definidas.</p>
            <p>- Acompañamiento en la asesoría, seguimiento, acompañamiento, capacitación, formulación y avaluación en iniciativas de emprendimiento empresarial.</p>
        </div>
    </div>
</div>