<div id="home">
    <div class='pageblock' id='fullscreen'>
        <div class='slider'>
            <div class='slide' id="first">
                <div class='just_pattern'></div>
                <div class='slidecontent'>
                    <span class="headersur">Bienvenido</span>
                    <h1><span><span>Faro</span> del Catatumbo</span>
                    </h1>
                </div>
            </div>
            <div class='slide' id="sec">
                <div class='just_pattern'></div>
                <div class='slidecontent'>
                    <span class="headersur">Bienvenido</span>
                    <h1><span><span>Faro</span> del Catatumbo</span>
                    </h1>
                </div>
            </div>
            <div class='slide' id="thirth">
                <div class='just_pattern'></div>
                <div class='slidecontent'>
                    <span class="headersur">Bienvenido</span>
                    <h1><span><span>Faro</span> del Catatumbo</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>