<div id="cont">
    <p style="font-weight: 900;"><span>Proceso IP-FC-04-2021</span></p>
    <p class="paragraf-left">Información SECOP I - Proceso IP-FC-04-2021
        <span class="der">
            <a href="https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=21-4-12621641&g-recaptcha-response=03AGdBq24fBeRM9t4J6E-IUBjVIbF0Y5-2251s5ioTE6u0MI97_BNdCtr6ScV9O-c6zSefraqyJNA9Wyn8rhCQ_LTccVOt2heJbisv4p40pvPmaAQEZeiTE1F_m2PWldP9FvTkOi801_tA9hZ6_n7fP0byffzoU8djZklJI46XkvK6sysJmwEmNH_2F3KyeS0voXGNH9XF7vcA0-PUfPmHJlXYRvUmpaEjBhcvQSSJGQdoPcS-joCaF0XolvNsQkQV0T4M216HLPFJb-DIKTa-0wbS-ep8Voj_Pae8bu7_ObIFy5a--L6h79q9eBAOJ6PgQXf68dNNi_dJk28dQtrswdEb732SYNkQnVAKCMsYejgRXCFrUdmph8XvU9_r-Tu5TPbF_sm_cRCT1HzSWJ-y_x-7HoQx-FX1Su1sMgforxgAA17m68JabpI43Upt7gmMRs47a6O97Ilv" target="_blank" title="Ver información SECOP 1"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Documento Invitación Pública - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/doc-invitacion-publica.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p04/doc-invitacion-publica.pdf" download="doc-invitacion-publica.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Estudios Previos - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/est-previos.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p04/est-previos.pdf" download="est-previos.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Disponibilidad Presupuestal No. 00 0062 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/disp-presupuestal.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p04/disp-presupuestal.pdf" download="disp-presupuestal.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #1 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/formato1.docx" download="formato1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #2 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/formato2.doc" download="formato2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #3 Experiencia - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/formato3-exp.xls" download="formato3-exp.xls" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #4 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/formato4.doc" download="formato4.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #5 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/formato5.doc" download="formato5.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #6 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/formato6.doc" download="formato6.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #7 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/formato7.docx" download="formato7.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #8 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/formato8.doc" download="formato8.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #9 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/formato9.docx" download="formato9.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #1 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/anexo1.doc" download="anexo1.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #2 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/anexo2.doc" download="anexo2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #3 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/anexo3.pdf" download="anexo3.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formulario #1 - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/formulario1.docx" download="formulario1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Adenda #1 - Modificación Anexo #1 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/adenda_anexo_1_cronograma.pdf" download="adenda_anexo_1_cronograma.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Informe de Evaluación - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/informe_evaluacion_IP-FC-04-2021.pdf" download="informe_evaluacion_IP-FC-04-2021.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Adenda #2 - Cronograma - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/adenda_2_cronograma.pdf" download="adenda_2_cronograma.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Evaluación Final - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/acta_evaluacion_final.pdf" download="acta_evaluacion_final.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Apertura de Observaciones al Informa de de Evaluación - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/acta _de_apertura_observaciones_informe_evaluacion.pdf" download="acta _de_apertura_observaciones_informe_evaluacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Cierre de Observaciones al Informa de de Evaluación - Proceso IP-FC-04-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p04/acta _de_cierre_observaciones_informe_evaluacion.pdf" download="acta _de_cierre_observaciones_informe_evaluacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
</div>