<div id="cont">
    <p style="font-weight: 900;"><span>Proceso IP-FC-02-2022</span></p>
    <p class="paragraf-left">Información SECOP I - Proceso IP-FC-02-2022
        <span class="der">
            <a href="https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=22-4-12995647&g-recaptcha-response=03AGdBq245GSmNw4l-zqHkhxKYwtAtkCDiOCHgWIWk3y6oH6d-E1TCEQ4J4jZ1XQYqfkvL0QgyCAtnyAHIVbfBc1bxr15EtIzRaF6jskWGKNCWt2Fs2jQz5xYSAh9i5Cx-tBOLYLbGwqsJDuPpZfG19WdTdKKU09kQolhTaortFHlC0Q_Fyx-tqvP6YojbKXfgV1a0VKGcOswIQ8KxK0Ig9TSaQE7ZdIGwZOgTsi75TtPlNAs9I_dvEprIFh_6fc5Vy7qZKsk7hVnkhFXHvLHD1XdRbHMcW99AZNVYXmjMZmtJLzDpJf3-CLd1VZGGrA9lOyNLHuSGbvy_5o9Rg9pzjiAvE_OZK2NTKxKTwkXXA5nFs8YRXyDBavMmMNBP2eZ2oG_5xZk3z9wQ1PwwsSzvmBMdGvmk2UcrWJf-sIBohjAHRlooO78FId3jnr09cX8WSd8yemwHxehHA4nmG9rXxe79wnx7WMmWOA" target="_blank" title="Ver información SECOP 1"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Documento Invitación Pública - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/doc-invitacion-publica.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p07/doc-invitacion-publica.pdf" download="doc-invitacion-publica.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Estudios Previos - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/est-previos.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p07/est-previos.pdf" download="est-previos.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Análisis del Sector - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/analisis-sector.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p07/analisis-sector.pdf" download="analisis-sector.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Disponibilidad Presupuestal No. SGR 322 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/disp-presupuestal.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p07/disp-presupuestal.pdf" download="disp-presupuestal.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">CDP Regalías - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/CDP_REGALIAS.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p07/CDP_REGALIAS.pdf" download="CDP_REGALIAS.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #1 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/formato1.docx" download="formato1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #2 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/formato2.doc" download="formato2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #3 Experiencia - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/formato3-exp.xls" download="formato3-exp.xls" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #4 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/formato4.doc" download="formato4.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #5 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/formato5.doc" download="formato5.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #6 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/formato6.doc" download="formato6.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #7 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/formato7.docx" download="formato7.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #8 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/formato8.doc" download="formato8.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #9 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/formato9.docx" download="formato9.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #1 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/anexo1.doc" download="anexo1.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #2 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/anexo2.doc" download="anexo2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #3 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/anexo3.pdf" download="anexo3.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formulario #1 - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/formulario1.docx" download="formulario1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Cronograma - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/cronograma.pdf" download="cronograma.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Cierre - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/acta_cierre.pdf" download="acta_cierre.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Informe de Evaluación - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/evaluacion.pdf" download="evaluacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Respuestas a Observaciones - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/respuesta_observaciones.pdf" download="respuesta_observaciones.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Cierre Observaciones - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/acta_cierre_observaciones.pdf" download="acta_cierre_observaciones.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Evaluación Final - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/evaluacion_final.pdf" download="evaluacion_final.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Resolución de Adjudicación - Proceso IP-FC-02-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p07/resolucion_adjudicacion.pdf" download="resolucion_adjudicacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
</div>