<div id="cont">
    <p style="font-weight: 900;"><span>Proceso IP-FC-01-2022</span></p>
    <p class="paragraf-left">Información SECOP I - Proceso IP-FC-01-2022
        <span class="der">
            <a href="https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=22-4-12670327&g-recaptcha-response=03AGdBq268b-tnklLEGmK3fc_Aj2dEi1dmoRX_PjEEZQW1Q8IcuU44uyXIK2kdoqp2TrlZWeZ72qpV3uIDHw43OsIuEgk2gJKbrwWHl-zwYuFTFfhiXfXJzGZDAl_fGqJ1TXB6VcSNjn9XSqlRZyeOcmmr-uTHHjy3P7dpThrTQ9xiEng8HUoKpvIJeUbT6Qlygk1QUBkPxc0Y2dZslMQR6XDRFA8ksOtr6jL7WbhNAHUCyp67oM7WqgH7-HdsUZu1wrl_BLxK8S23F4uO_jx9eLFlKhTU0TLsKHq4wAOZF9-wvFnX1n20Cja-ErZan8bwEZ4NZdxk2yDYTbw2R2opFSp1kuY83oF2w-UiWG0xlntv6xA0bYB26NpqEtAZzJ9rTnlJ9l3GIU8mFszI_bnZ42f4ajqFeR3oJOk_hMf_hjpz3XNDTo23_Dkm_Iidz-LUxWdIEJHvQyEOjUDmIU20dNq1zgRSy7Anew" target="_blank" title="Ver información SECOP 1"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Documento Invitación Pública - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/doc-invitacion-publica.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p06/doc-invitacion-publica.pdf" download="doc-invitacion-publica.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Analisis del Sector - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/analisis-sector.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p06/analisis-sector.pdf" download="analisis-sector.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Estudios Previos - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/est-previos.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p06/est-previos.pdf" download="est-previos.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <!--<p class="paragraf-left">Disponibilidad Presupuestal No. 00 0062 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/disp-presupuestal.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p06/disp-presupuestal.pdf" download="disp-presupuestal.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>-->
    <p class="paragraf-left">Formato #1 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/formato1.docx" download="formato1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #2 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/formato2.doc" download="formato2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #3 Experiencia - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/formato3-exp.xls" download="formato3-exp.xls" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #4 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/formato4.doc" download="formato4.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #5 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/formato5.doc" download="formato5.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #6 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/formato6.doc" download="formato6.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #7 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/formato7.doc" download="formato7.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #8 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/formato8.doc" download="formato8.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #9 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/formato9.docx" download="formato9.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #1 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/anexo1.doc" download="anexo1.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #2 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/anexo2.doc" download="anexo2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Cronograma - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/cronograma.pdf" download="cronograma.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <!--<p class="paragraf-left">Anexo #3 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/anexo3.pdf" download="anexo3.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formulario #1 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/formulario1.docx" download="formulario1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Adenda #1 - Modificación Anexo #1 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/adenda_anexo_1_cronograma.pdf" download="adenda_anexo_1_cronograma.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Informe de Evaluación - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/informe_evaluacion_IP-FC-01-2022.pdf" download="informe_evaluacion_IP-FC-01-2022.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Adenda #2 - Cronograma - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/adenda_2_cronograma.pdf" download="adenda_2_cronograma.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Apertura de Observaciones al Informa de de Evaluación - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/acta _de_apertura_observaciones_informe_evaluacion.pdf" download="acta _de_apertura_observaciones_informe_evaluacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>-->
    <p class="paragraf-left">Acta de Cierre - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/acta_de_cierre.pdf" download="acta acta_de_cierre.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Evaluación - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/acta_de_evaluacion.pdf" download="acta acta_de_evaluacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Resolución No. 007 de 17 de Enero de 2022 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/resolucion_007.pdf" download="resolucion_007.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Resolución No. 008 de 24 de Enero de 2022 - Proceso IP-FC-01-2022
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p06/resolucion_008.pdf" download="resolucion_008.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
</div>