<div id="cont">
    <p style="font-weight: 900;"><span>Proceso IP-FC-03-2021</span></p>
    <p class="paragraf-left">Información SECOP I - Proceso IP-FC-03-2021
        <span class="der">
            <a href="https://www.contratos.gov.co/consultas/detalleProceso.do?numConstancia=21-4-12621357&g-recaptcha-response=03AGdBq27FWsoklQ06i6REXuqswaunGvIIgx7thVert4pxcf1u6M0s91S5VmxDdO2tii5b7Rv7pB0RZrqSKTBzehPret3qF9cRBvYZb_rcMLQC02TBgSu0AJ76LKI1w__vrXOxtjwn7Pj2jp1rGEBYU91pVado9DTFah9CnsyqByyNq3trxRUyljGhmHL3fra5ljat-sJrY--o4VHtwRpwigykoO7u340T10LtRGD-a1ZJoijwPY2YC9q046DbRnkA8BPPizyTBIHIT_r_WFKcb1NnU1Epx3iEKX-fRdRqmsBQeHfuII97zT5b9YQzOoK4bRLxB8lHGbrqWcPWDM2fzoSe_B_BhtkVFRrhJNrLo_ocRGZ43dtP_754oFe8rX6_5g8k7eZ_ugDR4N3E81O9K1ySDehYM0F7st7G1rZG4clvvL7Iwr_HGr9pBsxx-wNOZtROoCsml0jxXLl1B7n_uDspiBaB5DvCQA" target="_blank" title="Ver información SECOP 1"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Documento Invitación Pública - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/doc-invitacion-publica.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p03/doc-invitacion-publica.pdf" download="doc-invitacion-publica.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Estudios Previos - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/est-previos.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p03/est-previos.pdf" download="est-previos.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Disponibilidad Presupuestal No. 00 0062 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/disp-presupuestal.pdf" target="_blank" title="Ver documento"><i class="icon-blog" style="margin-right: 10px;">&#xf06e;</i></a>
            <a href="./../../../../../assets/documents/procesos/p03/disp-presupuestal.pdf" download="disp-presupuestal.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #1 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/formato1.docx" download="formato1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #2 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/formato2.doc" download="formato2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #3 Experiencia - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/formato3-exp.xls" download="formato3-exp.xls" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #4 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/formato4.doc" download="formato4.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #5 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/formato5.doc" download="formato5.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #6 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/formato6.doc" download="formato6.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #7 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/formato7.docx" download="formato7.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #8 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/formato8.doc" download="formato8.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formato #9 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/formato9.docx" download="formato9.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #1 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/anexo1.doc" download="anexo1.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #2 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/anexo2.doc" download="anexo2.doc" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Anexo #3 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/anexo3.pdf" download="anexo3.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Formulario #1 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/formulario1.docx" download="formulario1.docx" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Adenda #1 - Modificación Anexo #1 - Proceso IP-FC-02-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/adenda_anexo_1_cronograma.pdf" download="adenda_anexo_1_cronograma.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Informe de Evaluación - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/informe_evaluacion_IP-FC-03-2021.pdf" download="informe_evaluacion_IP-FC-03-2021.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Evaluación Final - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/acta_evaluacion_final.pdf" download="acta_evaluacion_final.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Apertura de Observaciones al Informa de de Evaluación - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/acta _de_apertura_observaciones_informe_evaluacion.pdf" download="acta _de_apertura_observaciones_informe_evaluacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Adenda #2 - Cronograma - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/adenda_2_cronograma.pdf" download="adenda_2_cronograma.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Evaluación Final - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/acta_evaluacion_final.pdf" download="acta_evaluacion_final.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Apertura de Observaciones al Informa de de Evaluación - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/acta_de_apertura_observaciones_informe_evaluacion.pdf" download="acta_de_apertura_observaciones_informe_evaluacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Acta de Cierre de Observaciones al Informa de de Evaluación - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/acta_de_cierre_observaciones_informe_evaluacion.pdf" download="acta_de_cierre_observaciones_informe_evaluacion.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
    <p class="paragraf-left">Resolución No. 005 de 11 de Enero de 2022 - Proceso IP-FC-03-2021
        <span class="der">
            <a href="./../../../../../assets/documents/procesos/p03/Resolucion_005.pdf" download="Resolucion_005.pdf" title="Descargar documento"><i class="icon-blog">&#xf019;</i></a>
        </span>
    </p>
</div>